#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    margin: 0 auto;
}
#mybtn{
    width: 120px;
    margin: 0 auto;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    padding: 20px;
    border-radius: 10px;
}